h1 {
    text-align: center;
    /* background-color: orange; */
}

.fri {
    position: fixed; /* Fixed positioning */
    top: 0;         /* Align to the top of the viewport */
    /* left: 50%;      Center horizontally */
    transform: translateX(310%); /* Offset to center */
    padding: 10px; /* Optional padding */
    /* background-color: lightblue; Optional background for visibility */
    z-index: 1000; /* Ensure it's above other elements */
    top: 72px;
    float: right;
}

.actions {
    /* background-color: blueviolet; */
}

.in {
    display: flex;                /* Enable flexbox */
    flex-direction: column;      /* Stack elements vertically */
    align-items: center;         /* Center items horizontally */
    justify-content: center;      /* Center items vertically */
    height: 300px;
    /* top: 10px; */
    margin-top: -70px;
}


input {
    text-align: center;
    width: 400px;
    height: 300px; 
}


#a1 {
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         385px;
    width:          1px;       
    float: left;
}





.ser {
    /* background-color: aqua; */
    
    /*text-align: center;
    transform: translate(300%);
    top: -50px;
    position: fixed;
    */ 

    position: fixed; /* Fixed positioning */
    top: 0;         /* Align to the top of the viewport */
    /* left: 50%;      Center horizontally */
    transform: translateX(100%); /* Offset to center */
    padding: 10px; /* Optional padding */
    /* background-color: lightblue; Optional background for visibility */
    z-index: 1000; /* Ensure it's above other elements */
    top: 510px;
    float: right;   
}