<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>


    <h3>Login</h3>


    <div id="account">
        <form action="/login" method="POST">        
            <div id="email">
                <label for="email">Email</label>
                <input name="email" type="email" placeholder="Enter your email" required>    
            </div>
          
            <div id="password">
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Enter a password" required>     
            </div>

            <button type="login">Login</button>
            <button type="reset">Clear form</button>
        </form>
    </div>
    
</body>
</html>