<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="makeAccount.css">
</head>
<body>
    
    <h1>Let's start off with making an account for you</h1>

    <div id="account">
        <form action="main.py" method="POST">        
            <div id="name">
                <label for="name">Name</label>
                <input name="name" type="text" placeholder="Enter your name" required>
            </div>
         
            <div id="email">
                <label for="email">Email</label>
                <input name="email" type="email" placeholder="Enter your email" required>    
            </div>
          
            <div id="password">
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Enter a password" required>     
            </div>
         
    
            <button type="submit">Submit</button>
            <button type="reset">Clear form</button>
        </form>
    </div>
</body>
</html>